/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$purple: #84087E;
$gray: #515151;

body {
    margin: 0px;
    font-family: 'Rubik', sans-serif;
}