<div class="form">
    <div class="formBox">
        <h2>Comentários</h2>
        <form>
            <label for="name">Nome</label>
            <input type="text" name="name" [(ngModel)]="commentName">
            <label for="message">Mensagem</label>
            <textarea name="message" [(ngModel)]="commentMessage"></textarea>
            <button type="submit" (click)="AddComment()">Adicionar</button>
        </form>
    </div>
    <div class="formLogo">
        <img src="../../assets/logo.svg" alt="logo">
    </div>
</div>
